<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="https://meyerv11045.github.com/notes/software_design/cpp/templates/">
        <link rel="shortcut icon" href="../../../img/favicon.ico">
        <title>Templates - The Notebook</title>
        <link href="../../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/github.min.css">

        <script src="../../../js/jquery-1.10.2.min.js" defer></script>
        <script src="../../../js/bootstrap.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../../..">The Notebook</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">General <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../general/swe-notes/" class="dropdown-item">Software Engineering Notebook</a>
</li>
                                    
<li>
    <a href="../../../general/git/" class="dropdown-item">Git</a>
</li>
                                    
<li>
    <a href="../../../general/python/" class="dropdown-item">Python</a>
</li>
                                    
<li>
    <a href="../../../general/macos/" class="dropdown-item">MacOS</a>
</li>
                                    
<li>
    <a href="../../../general/paradigms/" class="dropdown-item">Programming Paradigms</a>
</li>
                                    
<li>
    <a href="../../../general/regex/" class="dropdown-item">Regex</a>
</li>
                                    
<li>
    <a href="../../../general/hardware/" class="dropdown-item">Hardware</a>
</li>
                                    
<li>
    <a href="../../../system_design/microservices/" class="dropdown-item">Microservices</a>
</li>
                                    
<li>
    <a href="../../../system_design/docker/" class="dropdown-item">Docker</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Data Structures <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../data_structures/overview/" class="dropdown-item">Overview</a>
</li>
                                    
<li>
    <a href="../../../data_structures/linked-list/" class="dropdown-item">Linked List</a>
</li>
                                    
<li>
    <a href="../../../data_structures/stack/" class="dropdown-item">Stack</a>
</li>
                                    
<li>
    <a href="../../../data_structures/queue/" class="dropdown-item">Queue</a>
</li>
                                    
<li>
    <a href="../../../data_structures/heap/" class="dropdown-item">Heap</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Software Design <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">C++</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../pointers/" class="dropdown-item">Pointers</a>
</li>
            
<li>
    <a href="../big3/" class="dropdown-item">The Big 3</a>
</li>
            
<li>
    <a href="../exceptions/" class="dropdown-item">Exception Handling</a>
</li>
            
<li>
    <a href="./" class="dropdown-item active">Templates</a>
</li>
            
<li>
    <a href="../operator-overloading/" class="dropdown-item">Operator Overloading</a>
</li>
            
<li>
    <a href="../strong-exception-safety/" class="dropdown-item">Strong Exception Safety</a>
</li>
            
<li>
    <a href="../smart-pointers/" class="dropdown-item">Smart Pointers</a>
</li>
            
<li>
    <a href="../inheritance/" class="dropdown-item">Inheritance</a>
</li>
            
<li>
    <a href="../iterators/" class="dropdown-item">Iterators</a>
</li>
            
<li>
    <a href="../stl/" class="dropdown-item">STL</a>
</li>
            
<li>
    <a href="../functors/" class="dropdown-item">Functors</a>
</li>
            
<li>
    <a href="../lambda/" class="dropdown-item">Lambda Functions</a>
</li>
            
<li>
    <a href="../misc/" class="dropdown-item">Misc</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Patterns</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../patterns/patterns/" class="dropdown-item">Overview</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Databases <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../databases/dbms/" class="dropdown-item">DBMS</a>
</li>
                                    
<li>
    <a href="../../../databases/sql/" class="dropdown-item">SQL</a>
</li>
                                    
<li>
    <a href="../../../databases/mysql/" class="dropdown-item">MySQL</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Web Dev <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Javascript</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../web_dev/js/basics/" class="dropdown-item">Basics</a>
</li>
            
<li>
    <a href="../../../web_dev/js/classes/" class="dropdown-item">Classes</a>
</li>
            
<li>
    <a href="../../../web_dev/js/objects/" class="dropdown-item">Objects</a>
</li>
            
<li>
    <a href="../../../web_dev/js/modules/" class="dropdown-item">Modules</a>
</li>
            
<li>
    <a href="../../../web_dev/js/promises/" class="dropdown-item">Promises</a>
</li>
            
<li>
    <a href="../../../web_dev/js/jQuery/" class="dropdown-item">jQuery</a>
</li>
            
<li>
    <a href="../../../web_dev/js/using_node_pkgs/" class="dropdown-item">Node Pkgs</a>
</li>
            
<li>
    <a href="../../../web_dev/js/browser_compatibility/" class="dropdown-item">Browser Compatibility</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">HTML & CSS</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../web_dev/html-css/sass/" class="dropdown-item">Sass</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Math & Science <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../math_science/brain/" class="dropdown-item">The Brain</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Physics</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../math_science/physics/ch25/" class="dropdown-item">Current & Resistance</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Prob & Stats</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../math_science/prob_stats/rv/" class="dropdown-item">Random Variables</a>
</li>
            
<li>
    <a href="../../../math_science/prob_stats/crvs/" class="dropdown-item">Continuous Random Variables</a>
</li>
            
<li>
    <a href="../../../math_science/prob_stats/joint-distributions/" class="dropdown-item">Joint Probability Distributions</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../exceptions/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../operator-overloading/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#templates" class="nav-link">Templates</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-level="2"><a href="#function-templates" class="nav-link">Function Templates</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#class-templates" class="nav-link">Class Templates</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#specialization" class="nav-link">Specialization</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="templates">Templates</h1>
<ul>
<li>Permit the definition of a template class or template function that can be used with multiple data types<ul>
<li>Requires only a single definition</li>
<li>Permits reuse</li>
<li>Compiler will create specific versions when functions are used with specific types</li>
</ul>
</li>
<li>Save time and avoid code replication<ul>
<li>One class template that is instantiated for N specific classes with X associated member functions </li>
<li>Instead of writing N * X member functions, you only write X</li>
</ul>
</li>
<li>Can result in code bloat (source code looks small but object code/binaries are large)</li>
<li>Need to be recompiled for each translation unit (can dramatically increase compile time)</li>
<li>Need to do a commonality and variability analysis <ul>
<li>Look for replication to idenfity when a template could instead be instantiated multiple times</li>
</ul>
</li>
</ul>
<p>Example <code>A.h</code> for templatized A class:</p>
<pre><code class="language-c++">template &lt;typename T&gt; class A {
    ...
}

#include '../src/A.cpp'
</code></pre>
<h2 id="function-templates">Function Templates</h2>
<ul>
<li>Define a specific behavior that can be applied to any data type<ul>
<li>Method overloading can be used to provide functionality for each data type</li>
</ul>
</li>
<li>Parameters and return type may be template types</li>
</ul>
<pre><code class="language-c++">template &lt;typename T&gt;
void functionName(T paramName, ...){
    ...
}
</code></pre>
<ul>
<li>When program runs and a call to the function template is encountered:<ul>
<li>1) compiler substitutes the appropriate type(s) for the template params</li>
<li>2) compiler compiles this version of the function</li>
<li>Multiple copies of function templates are created (one for each data type used)</li>
</ul>
</li>
<li><em>Function templates</em>: specify a range of related functinos with a single code segment<ul>
<li>Written by programmer</li>
</ul>
</li>
<li><em>Template functions</em>: the individually compiled versions of the function tempalte <ul>
<li>Generated by compiler</li>
</ul>
</li>
</ul>
<h2 id="class-templates">Class Templates</h2>
<ul>
<li>Allow the program to contain a generic class definition that can be instantiated into a type specific object</li>
<li>cpp files for template classes cannot be compiled on their own<ul>
<li>Need to have types inserted to be compiled (must create an object to compile a template class)</li>
</ul>
</li>
<li><code>.h</code> file for the template class will <code>#include '&lt;name&gt;.cpp'</code><ul>
<li>So the template's cpp file should be left out of the CMake list</li>
<li>Seperating interface from the implementation is good practice</li>
</ul>
</li>
<li>Common way is to implement everything in the <code>.h</code> for template classes (will see this in libraries often)</li>
<li>Can pass a literal as a template parameter such as the int parameter below:</li>
</ul>
<pre><code class="language-c++">// ClassName.h file
template&lt;typename T, typename T2, int x&gt;
class ClassName {
    public:
    ...
    private:
    ...
}

// ClassName.cpp file
template&lt;typename T, typename T2, &gt;
ClassName&lt;T, T2, X&gt;::ClassName(...) {
   .. 
}

...

// main.cpp file
int main() {
    ClassName&lt;datatype, datatypeT2, int&gt; objectName();
    ...
}
</code></pre>
<ul>
<li><em>Class templates</em>: specify a range of related classes with a single definition (not compileable)<ul>
<li>Defined by programmer</li>
</ul>
</li>
<li><em>Template classes</em>: the individual instantiated versions of the class template that are compileable<ul>
<li>Created by compiler</li>
</ul>
</li>
<li>Can set defaults types or values for template parameters:<ul>
<li><code>template&lt;typename T=int, int x=10&gt;</code></li>
</ul>
</li>
<li>Template classes Can be used as arguments to other templates since they are valid types once compiled</li>
<li>Compiler doesn't evaluate class templates unless they are used (methods could be uncompiled if class not instantiated)</li>
</ul>
<h2 id="specialization">Specialization</h2>
<ul>
<li>In the below version, a seperate version of <code>sum()</code> is provided for string types while the generic template version of <code>sum()</code> is provided for other types.</li>
<li>This reduces code bloat b/c only the necessary implementation will be compiled if a class of that type is instantiated</li>
<li>You can specialize a method as many times as needed<ul>
<li>A non-specialized version should still be provided as well</li>
</ul>
</li>
</ul>
<pre><code class="language-c++">template &lt;&gt; std::string Stack&lt;std::string&gt;::sum() const {
  std::string value;
  for (uint32_t i = 0; i &lt; stackTop; ++i) {
    value = stack[i] + value;
  }
  return value;
}

template &lt;typename T&gt; T Stack&lt;T&gt;::sum() const {
  T value = T();
  for (uint32_t i = 0; i &lt; stackTop; ++i) {
    value += stack[i];
  }
  return value;
}
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script>
            var base_url = "../../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../../js/base.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" defer></script>
        <script src="../../../search/main.js" defer></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
